button:hover {
    cursor: pointer;
}
body {
    background-color: black;
    color: white;
    margin: 3vh 4vw;
}

header{
    display: grid;
    grid-template-areas: 
    "head head head"
    /* ". vs ." */
    "sA sA sA"
    /* ". vs ." */
    "press press press";
    text-align: center;
}
#head{
    grid-area: head;
    text-align: center;
    margin-bottom: 5%;
}
input {
    /* width: 70%; */
    height: auto;
    text-align: center;
}
#searchArea {
    grid-area: sA;
    grid-template-areas: "st1 vs st2";
    display: flex;
    justify-content: center;
}
#searchterm {
    grid-area: st1;
    width: 11vw;
    height: 5vh;
    border-radius: 3px;
    text-align: center;
    border-radius: 10vw;
}
#searchterm2{
    grid-area: st2;
    width: 11vw;
    height: 5vh;
    border-radius: 3px;
    text-align: center;
    border-radius: 10vw;
}
button:hover {
    box-shadow: 0 8px 12px 0 rgba(249, 249, 249, 0.195), 0 10px 50px 0 rgba(249, 249, 249, 0.156);
}
#VS {
    grid-area: vs;
    text-align: center;
    margin-top: -3vh;
    width: 50%;
    height: auto;
}
#press{
    grid-area: press;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-areas: "rando search load";
}
#search {
    grid-area: search;
    margin: 3% 3%;
    top: 50%;
    left: 50%;
    width: 20vw;
    height: 5vh;
    border-radius: 20px;
}

#randomizer {
    grid-area: rando;
    margin: 3% 3%;
    top: 50%;
    left: 50%;
    width: 20vw;
    height: 5vh;
    border-radius: 20px;
}
#load {
    grid-area: load;
    margin: 3% 3%;
    top: 50%;
    left: 50%;
    width: 20vw;
    height: 5vh;
    border-radius: 20px;
}
#search:hover {
    background-color: rgb(225, 225, 225);
}
#randomizer:hover {
    background-color: rgb(225, 225, 225);
}
#load:hover {
    background-color: rgb(225, 225, 225);
}

#pokemans {
    display: grid;
    grid-template-areas: "r1 r2";
}
#results {
    grid-area: r1;
    display: block;
    background-color: lightgray;
    border-radius: 30px;
    padding-left: 5%;
    text-align: center;
}
#results2 {
    grid-area: r2;
    text-align: right;
    background-color: gray;
    border-radius: 30px;
    padding-right: 5%;
    text-align: center;
}
#save{
    width: 8vw;
    height: 4vh;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}
#save:hover {
    background-color: gray;
}

#pokemans img {
    width: 50%;
    height: auto;
}

.pokemonDiv img{
    padding: 30%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
}

.addCursor {
    cursor: pointer;
}