.cursorChange {
    cursor: pointer;
}

header{
    display: grid;
    grid-template-areas: 
    "head head head"
    ". vs ."
    "st1 vs st2"
    ". vs ."
    ". press .";
    margin: 2% 8%;
    text-align: center;
}
#head{
    grid-area: head;
    text-align: center;
}
#searchterm {
    grid-area: st1;
}
#searchterm2{
    grid-area: st2;
}
#VS {
    grid-area: vs;
    text-align: center;
    font-size: 3vh; 
    /* margin: 3% 0%; */
}
#search {
    grid-area: search;
    margin: 3% 0%;
    top: 50%;
    left: 50%;
    width: 20vw;
    height: 5vh;
    border-radius: 20px;
}
#press{
    grid-area: press;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemans {
    display: grid;
    grid-template-areas: "r1 r2";
}
#results {
    grid-area: r1;
}
#results2 {
    grid-area: r2;
    text-align: right;
}
